<!-- In order to prevent diferent tags with the if for length === 0 and another with length > 0, to hide the tags from the DOM,
  an alternative way to do it is to create templates for each case like below -->
<div *ngIf="wishes.length === 0; then noItems; else showItems"></div>

<!--
  Another alternative is to just have this div and remove the ng-template #noItems bellow
  <div *ngIf="items.length === 0; then noItems else showItems">There are no wishes to display.</div>
-->

<ng-template #noItems> There are no wishes to display. </ng-template>

<ng-template #showItems>
  <ul class="wish-list">

    <wish-list-item
        *ngFor="let wish of wishes"
        [wish]="wish"
    ></wish-list-item>

  </ul>
</ng-template>
